/* Header styles */
h1 {
  margin-top: 20px;
  text-align: center;
  color: #0c151d;
  font-size: 36px;
  font-weight: bold;
}

/* Container styles */
.container {
  margin: 50px 15% 100px 15%;
}

/* Job listings card */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  margin: 10px;
  max-width: 100%;
  padding: 20px;
  height: auto;
  text-align: center;
}

.card img {
  display: block;
  margin: 0 auto;
  max-width: 60vh;
  max-height: 60vh;
  position: relative;
  
}

.card h2 {
  color: #0c151d;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.card p {
  color: #444444;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 10px;
}

.card a {
  background-color: #0c151d;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border: none;
}

.card a:hover {
  background-color: #197694;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Clearing floats */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Hidden div styles for additional options */
#hidediv a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 18px;
  background-color: #1f3a52;
  color: white;
}

#hidediv a:hover {
  background-color: #197694;
}

#hidediv {
  text-align: center;
  margin-top: 20px;
}
